@{
    ViewData["Title"] = "Get Reports";
    Layout = "~/Views/Shared/_MainLayout1.cshtml";
}

<div class="container-fluid" id="bdy">
    <div class="card shadow mt-4" style="">
        <div class="card-header py-3">
            <h6 id="header" class="m-0 font-weight-bold text-primary ">@ViewBag.ReportName</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <input type="hidden" id="txtHiddenId" value="0" />
                <input type="hidden" id="flgmode" value="ADD" />
                <input type="hidden" id="Type" value="@ViewBag.Type" />
                <input type="hidden" id="txtpagename" value="Get Reports" />


                @{
                    <div id="Fdatediv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label id="labledate">From Date</label>
                            <input type="date" class="form-control form-control-user col" id="fromdate">

                        </div>
                    </div>


                    <div id="Todatediv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>To Date</label>
                            <input type="date" class="form-control form-control-user col" id="todate">

                        </div>
                    </div>

                    <div class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Company Name</label>
                            <select name="" id="Company" class="form-control  mandatory intr col">
                                <option value="All">All</option>

                                @if (ViewBag.Company != null)
                                {
                                    foreach (var item in ViewBag.Company as List<SelectListItem>)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>

                        </div>
                    </div>



                    <div class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Region Name</label>
                            <select name="" id="Region" class="form-control  mandatory intr col">
                                <option value="All">All</option>


                            </select>

                        </div>
                    </div>
                    <div class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Branch Name</label>
                            <select name="" id="Branch" class="form-control  mandatory intr col">
                                <option value="All">All</option>

                            </select>

                        </div>
                    </div>



                    <div id="ClientDiv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Client Name</label>
                            <select name="" id="Client" class="form-control  mandatory intr col">

                                @if (ViewBag.customer != null)
                                {
                                    foreach (var item in ViewBag.customer as List<SelectListItem>)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>



                    <div id="ChecklistClientDiv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Client Name</label>
                            <select name="" id="ChecklistClient" class="form-control  mandatory intr col">

                                @if (ViewBag.ChecklistClient != null)
                                {
                                    foreach (var item in ViewBag.ChecklistClient as List<SelectListItem>)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>


                    <div id="TourDiv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Task Name</label>
                            <select name="" id="TourId" class="form-control  mandatory intr col">


                            </select>
                        </div>
                    </div>

                    <div id="SiteDiv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Site Name</label>
                            <select name="" id="Site" class="form-control  mandatory intr col">
                                <option value="All">All</option>

                            </select>

                        </div>
                    </div>

                    <div id="ChecklistSiteDiv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Site Name</label>
                            <select name="" id="ChecklistSite" class="form-control  mandatory intr col">
                            </select>

                        </div>
                    </div>


                    <div class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Shift </label>
                            <select name="" id="" class="form-control  mandatory intr col">
                                @if (ViewBag.Shift != null)
                                {
                                    foreach (var item in ViewBag.Shift as List<SelectListItem>)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>


                    <div id="StatusDiv" class="col-md-4" style="display:none;">
                        <div class="form-group">
                            <label>Status </label>
                            <select name="Status" id="Status" class="form-control  mandatory  ">
                                <option value="All"> All </option>
                                <option value="Accepted"> Accepted </option>
                                <option value="Rejected"> Rejected </option>
                                <option value="Pending for Approval">Pending for Approval </option>
                               
                            </select>
                        </div>
                    </div>




                }






                <div class="preloaderid">  <img class="preloader" style="display:none;" src="~/loading-waiting.gif" /></div>

                <div class="col-lg-12">
                    <button class="btn btn-primary" id="btnsearchtext" onclick="GetReport()">Search</button>
                    <button class="btn btn-primary" onclick="exportexcel()">Export To Excel</button>
                    @* <button class="btn btn-primary" id="pdfid">Export To PDF</button> *@

                </div>

                <div class="col-12 mt-3" id="Printdiv" style="overflow-x:auto;"></div>





            </div>
        </div>
    </div>
</div>
<script src="~/js/xlxs.full.min.js"></script>
<script src="~/js/Master.js" asp-append-version="true"></script>
<script src="~/js/Reports/GetReport.js" asp-append-version="true"></script>

